<main id="mainContent">
    <section class="home">
        <div class="row">
            <div class="home__slider">
                <div class="home__slider-offers">
                    {{#each banners}}
                    <div class="mySlides fade">
                        <img class="image--width" src="{{this.bannerImageUrl}}"
                            alt="{{this.bannerImageAlt}}">
                    </div>
                    {{/each}}
                    <button class="btn__prev" onClick="plusSlides(-1)">prev</button>
                    <button class="btn__next" id="next" onClick="plusSlides(1)">next</button>
                    <div class="indexing">
                        {{#each banners}}
                        <span class="indexing__dot" onclick="currentSlide({{@index}})"></span>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="home__category">
            {{#each categories}}
                {{#if this.enabled}}
                     <section class="category">
                        <div class="category__image">
                            <img src="{{this.imageUrl}}" alt="{{this.name}}">
                        </div>
                        <div class="category__desc">
                            <h1 class="category-heading">{{this.name}}</h1>
                            <p class="category-text">{{this.description}}</p>
                            <div class="button-align">
                                <button class="btn__category" onclick="exploreCategory('{{this.id}}')">
                                        Explore {{this.name}}
                                </button>
                            </div>
                        </div>
                    </section>
                {{/if}}
            {{/each}}
        </div>
        </div>
    </section>
</main>