<main id="mainContent">  
    <div class="product">
        <div class="row">
            <aside>
                <ul class="product__category">
                    {{#each categories}}
                        {{#if this.enabled}}
                            <li class="category__name"><a href="/products/{{this.id}}">{{this.name}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </aside>
            <div class="dropdown">
                <button class="dropbtn">Dropdown 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                   {{#each categories}}
                        {{#if this.enabled}}
                           <a href="/products/{{this.id}}">{{this.name}}</a>
                        {{/if}}
                    {{/each}}
                </div>
            </div> 
            <section class="product__wrapper">
                {{#each products}}
                    <div class="article">
                        <div class="article__name" title="{{this.name}}">{{this.name}}</div>
                        <div class="article__image">
                            <img src="{{this.imageURL}}" alt="{{this.name}}">
                        </div>
                        <div class="article__description" title="{{this.description}}"><p>{{this.description}}</p></div>
                        <div class="article__purchasing">
                            <div class="product__pricing">MRP Rs {{this.price}}</div>
                            <button class="product__buy" onclick="buy('{{this.id}}', 'add')">Buy now<span class="buy__product">@ {{this.price}}</span></button>                        
                        </div>
                        <div class="mask">
                        </div>
                    </div>
                {{/each}}
            </section>
        </div>
    </div>
</main>